{% extends '::base.html.twig' %}
{% block body %}

	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Image</th>
			</tr>
		</thead>
		<tbody>
		{% for character in characters %}
				<tr>

					<td>{{ character.name }}</td>
					<td><img style="width:75px" src="{{ character.thumbnail.path}}.{{ character.thumbnail.extension}}" /></td>
				</tr>
				{% endfor %}
		</tbody>
	</table>
	{% include 'AppBundle::sliding.html.twig' with {'currentPage' : currentPage, 'hasNextPage' : hasNextPage} %}
{% endblock %}

