<div class="row col-sm-8 sm-offset-4">
{% if currentPage > 1 %}
<div class="col-sm-2 col">
	<a href="{{ path('homepage_page', {'page' : currentPage-1}) }}">Previous</a>
</div>
{% endif %}
<div class="col-sm-3 col">
	<p>Page : {{ currentPage}}</p>
</div>

{% if hasNextPage %}
<div class="col-sm-2 col">
	<a href="{{ path('homepage_page', {'page' : currentPage+1}) }}">Next</a>
</div>
{% endif %}
</div>
