{% if currentPage > 1}
<div class="col-sm-2">
	<a href="{{ path(homepage_page, {'page' : currentPage-1}) }}">Previous</a>
</div>
{% endif %}

<div class="col-sm-3">
	<p>Page : {{ currentPage}}</p>
</div>

{% if hasNextPage %}
<div class="col-sm-2">
	<a href="{{ path(homepage_page, {'page' : currentPage+1}) }}">Previous</a>
</div>